body {
    display: flex;
    font-size: 2rem;
    font-family: sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea {
    width: 100%;
    height: 400px;
    font-size: 0.5em;
}

input {
    font-size: inherit;
    font-weight: bolder;
}

button {
    font-size: inherit;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0 10px;
}

[selected=true] {
    background-color: red;
    color: white;
}